[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.build/
.testPublish/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
.build/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.js
*.d.ts
*.js.map
.build/
.vs/
launchSettings.json
global.json
BenchmarkDotNet.Artifacts/
msbuild.binlog
msbuild.log
node_modules
.dotnet
out
dist
install.*
.vscode-test/
*.vsix
vscode-dotnet-runtime-library/install scripts/dotnet-install.*
*/images/*
vscode-dotnet-runtime-extension/LICENSE.txt
vscode-dotnet-sdk-extension/LICENSE.txt
.vscode/launch.json
rimraf