.vscode/**
.devcontainer/**
dist/test/**
Documentation/**
node_modules/**
vscode-dotnet-runtime-extension/**
vscode-dotnet-runtime-library/**
sample/**
**/*.map
**/*.ts
.gitignore
azure-pipelines.yml
build.*
test.*
tslint.json
*.txt
vscode-dotnet-runtime.code-workspace